<div class="image1">
  <div class="parent-container">
    <marquee style="font-size: 18px; color: red;">Register to get 20% off on 100% Standard Optimum Gold Whey Protein</marquee>
    <div class="child-container">
      <h2>Hello, Welcome to <b>BetterFit!!!
      </b></h2>
      <span
        class="desc"> This application helps you find your protein with ingredients and its nutritional values.</span><br><br><br>
      <div class="form-group">
        <p> Please join us to get daily updates on newly launched products</p>
        <br><br>
        <button type="submit" class="btn btn-primary" (click)="redirect()" style="margin-left: -67%;">SignUp!</button>
        <div class="form-group col-lg-4 col-lg-offset-4">

        </div>
      </div>
    </div>
  </div>
</div>
